.vs/
*.obj
*.exe
*.pdb
/Epic_Fall_3D/x64/Debug/Epic_Fall_3D.tlog/CL.command.1.tlog
/Epic_Fall_3D/x64/Debug/Epic_Fall_3D.tlog/Cl.items.tlog
/Epic_Fall_3D/x64/Debug/Epic_Fall_3D.tlog/link.command.1.tlog
/Epic_Fall_3D/x64/Debug/Epic_Fall_3D.Build.CppClean.log
/Epic_Fall_3D/x64/Debug/Epic_Fall_3D.log
/Epic_Fall_3D/x64/Debug/Window.obj
/Epic_Fall_3D/x64/Debug/Epic_Fall_3D.tlog/Cl.items.tlog
/Epic_Fall_3D/x64/Debug/Epic_Fall_3D.tlog/CL.command.1.tlog
/Epic_Fall_3D/x64/Debug/Epic_Fall_3D.tlog/link.command.1.tlog
/Epic_Fall_3D/x64/Debug/vc143.pdb
/Epic_Fall_3D/x64/Debug/VertexBuffer.obj
/Epic_Fall_3D/x64/Debug/Application.obj
/Epic_Fall_3D/x64/Debug/Epic_Fall_3D.tlog/CL.read.1.tlog
/Epic_Fall_3D/x64/Debug/Epic_Fall_3D.tlog/CL.write.1.tlog
/Epic_Fall_3D/x64/Debug/Epic_Fall_3D.tlog/Epic_Fall_3D.lastbuildstate
/Epic_Fall_3D/x64/Debug/Epic_Fall_3D.tlog/link.read.1.tlog
/Epic_Fall_3D/x64/Debug/Epic_Fall_3D.tlog/link.write.1.tlog
/Epic_Fall_3D/x64/Debug/Calculator.obj
/Epic_Fall_3D/x64/Debug/Collision.obj
/Epic_Fall_3D/x64/Debug/Controller.obj
/Epic_Fall_3D/x64/Debug/Debugger.obj
/Epic_Fall_3D/x64/Debug/glad.obj
/Epic_Fall_3D/x64/Debug/IndexBuffer.obj
/Epic_Fall_3D/x64/Debug/Model.obj
/Epic_Fall_3D/x64/Debug/Renderer.obj
/Epic_Fall_3D/x64/Debug/Shader.obj
/Epic_Fall_3D/x64/Debug/Spawner.obj
/Epic_Fall_3D/x64/Debug/stb_image.obj
/Epic_Fall_3D/x64/Debug/Text.obj
/Epic_Fall_3D/x64/Debug/Texture.obj
/Epic_Fall_3D/x64/Debug/Transform.obj
/Epic_Fall_3D/x64/Debug/vc143.idb
/Epic_Fall_3D/x64/Debug/VertexArray.obj
/Epic_Fall_3D/x64/Debug/Window.obj
/Epic_Fall_3D/x64/Debug/Epic_Fall_3D.log
/Epic_Fall_3D/x64/Debug/Epic_Fall_3D.Build.CppClean.log
/.gitignore
/.gitignore
/Epic_Fall_3D/x64/Debug/IndexBuffer.obj
/Epic_Fall_3D/x64/Debug/IndexBuffer.obj
